[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/plugins/start/vim-terraform"]
	path = .vim/pack/plugins/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule ".vim/pack/plugins/start/vim-elixir"]
	path = .vim/pack/plugins/start/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/LanguageClient-neovim"]
	path = .vim/pack/plugins/start/LanguageClient-neovim
	url = git@github.com:autozimu/LanguageClient-neovim.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
